LINE_CHANNEL_ACCESS_TOKEN=TxdHVu2hKAca12vWTBXoUPVZdRqtU3fsI0/63d1LBYQyg2spQWjWCXUky6HS2Vc7QRF+PgkZJWP3paod27dyVvtWh0k0af3n+u3xWZBtS2psBcQkxIfESL9H1VV/moBQw9SBf+q35hwREWkrOLcVzQdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=12215dddd8bcc1fdc05134f02f8e3ff5
LINE_TO=Uc2d959c2b1a542ecee3a99fc5f82f966
MESSAGE_TEXT=おはようございます。Amazon商品の定期レポートです。
SEND_TIME=09:00
TIMEZONE=Asia/Tokyo
MONITOR_INTERVAL_SECONDS=300
PORT=8080
AUTO_SETUP_RICH_MENU=true
